@import "../gerillass/gerillass/scss/gerillass";
// @import "gerillass";

@include border-box;
@include antialias;
@include reset-css;

html {
  position :relative;
  font-size: 110%;
  background-color: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  color: #2f3937;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}
strong {
  font-weight: bold;
}

code {
  padding: 2px 5px;
  background-color: transparentize(#2f3937, 0.9);
  border-radius: 3px;
}

p {
  margin-bottom: 1rem;
}

/* Write your styles  here! */

.main-container {
  @include adaptive();
  padding: 2rem;
}
.card-list {
  @include columnizer(4, 20px, true);
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245,245,245);
    border-radius: 4px;
    @include ratio-box(16/6);
  }
}
