/* Import prefixed version of Gerillass */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
    */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, main, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  position: relative;
  font-size: 110%;
  background-color: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  color: #2f3937;
  line-height: 1.6;
  padding: 2rem;
  margin: 0 auto;
}

@media (min-width: 576px) {
  body {
    max-width: calc(576px - (2rem * 2));
  }
}

@media (min-width: 768px) {
  body {
    max-width: calc(768px - (2rem * 2));
  }
}

@media (min-width: 992px) {
  body {
    max-width: calc(992px - (2rem * 2));
  }
}

@media (min-width: 1200px) {
  body {
    max-width: calc(1200px - (2rem * 2));
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

strong {
  font-weight: bold;
}

code {
  padding: 2px 5px;
  background-color: rgba(47, 57, 55, 0.1);
  border-radius: 3px;
}

p {
  margin-bottom: 1rem;
}

/* Write your styles  here! */
